@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 140px;
}

.header .header_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    gap: 10px;
}

.header .list {
    display: flex;
    gap: 30px;

}

.header_contact .header_btn {
    border-radius: 12px;
    background: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 600;
    padding: 20px 80px;
    color: white;
}

.header_icon_btn {
    display: none;
}

/* header responsive style start here  */
@media screen and (max-width: 768px) {
    .header {
        margin: 32px 32px;
    }

    header {
        border: 0.5px solid rgb(254, 163, 1);
    }

    .header .list {
        display: none;
    }

    .header_contact {
        display: none;
    }

    .header_icon_btn {
        display: inline;
    }

    .header_icon_btn .btn_icon {
        font-size: 2rem;
        font-weight: 700;
        cursor: pointer;
        background: none;
    }
}

/* header responsive style end here  */

/* main section start here  */
.main .main_heading {
    font-size: 56px;
    font-weight: 700;
}

/* main section start here now  */
.main .main_heading {
    font-size: 56px;
    font-weight: 700;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 140px;
}

.main .em {
    color: rgb(254, 163, 1);
}

.main .tow {
    color: rgb(1, 172, 253);
    ;
}

.main .main_details {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main .main_des {
    font-size: 20px;
    font-weight: 400;
}

.main .main_btn {
    border-radius: 12px;
    background: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 80px;
}

/* main responsive style start here  */
@media screen and (max-width:768px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0px;
        overflow: hidden;
    }

    .main .main_details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main_icons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0px;
    }

    .main_icons img {
        max-width: 100%;
        overflow: hidden;
    }
}

/* standard section start here  */
.standard_heading {
    font-size: 46px;
    font-weight: 700;
}

.standard_card_heading {
    font-size: 24.52px;
    font-weight: 700;
}



.standard_des {
    font-size: 15.09px;
    font-weight: 500;
}

.card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px;
    gap: 2rem;
}

.standard_card_1 {
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.standard_section {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px 140px;
}

.standard_body {
    display: flex;
    gap: 32px;
    margin: 80px 0px;
}

.standard_card_2 {
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.standard_card3 {
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.arrow_btn_section {
    display: flex;
    gap: 10px;
}

.arrow_btn {
    border-radius: 30px;
    background: rgb(254, 163, 1);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

/* standard section responsive here  */
@media screen and (max-width:768px) {
    .standard_body{
        flex-direction: column;
        width: 100%;
    }
   
    .standard_section{
        margin: 20px 40px;
        text-align: center;
    }
}