@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 140px;
}

.header .header_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    gap: 10px;
}

.header .list {
    display: flex;
    gap: 30px;

}

.header_contact .header_btn {
    border-radius: 12px;
    background: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 600;
    padding: 20px 80px;
    color: white;
}
.header_btn:hover {
    background: rgb(255, 255, 255);
    color: rgb(254, 163, 1);
    cursor: pointer;
}

.header_icon_btn {
    display: none;
}

/* header responsive style start here  */
@media screen and (max-width: 768px) {
    .header {
        margin: 32px 32px;
    }

    header {
        border: 0.5px solid rgb(254, 163, 1);
    }

    .header .list {
        display: none;
    }

    .header_contact {
        display: none;
    }

    .header_icon_btn {
        display: inline;
    }

    .header_icon_btn .btn_icon {
        font-size: 2rem;
        font-weight: 700;
        cursor: pointer;
        background: none;
    }
}

/* header responsive style end here  */

/* main section start here  */
.main .main_heading {
    font-size: 56px;
    font-weight: 700;
}

/* main section start here now  */
.main .main_heading {
    font-size: 56px;
    font-weight: 700;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 140px;
}

.main .em {
    color: rgb(254, 163, 1);
}

.main .tow {
    color: rgb(1, 172, 253);
    ;
}

.main .main_details {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main .main_des {
    font-size: 20px;
    font-weight: 400;
}

.main_btn {
    border-radius: 12px;
    background: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 80px;
}
.main_btn:hover {
    background: rgb(254, 163, 1);
    color: black;
    cursor: pointer;
}



/* main responsive style start here  */
@media screen and (max-width:768px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0px;
        overflow: hidden;
    }

    .main .main_details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main_icons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0px;
    }

    .main_icons img {
        max-width: 100%;
        overflow: hidden;
    }
}

/* standard section start here  */
.standard_heading {
    font-size: 46px;
    font-weight: 700;
}

.standard_card_heading {
    font-size: 24.52px;
    font-weight: 700;
}



.standard_des {
    font-size: 15.09px;
    font-weight: 500;
}

.card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px;
    gap: 2rem;
}

.standard_card_1 {
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.standard_section {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px 140px;
}

.standard_body {
    display: flex;
    gap: 32px;
    margin: 80px 0px;
}

.standard_card_2 {
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.standard_card3 {
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.arrow_btn_section {
    display: flex;
    gap: 10px;
}

.arrow_btn {
    border-radius: 30px;
    background: rgb(254, 163, 1);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    color: white;
}
.arrow_btn:hover {
    background: rgb(255, 244, 220);
    color: rgb(254, 163, 1);
    cursor: pointer;
}

/* standard section responsive here  */
@media screen and (max-width:768px) {
    .standard_body {
        flex-direction: column;
        width: 100%;
    }

    .standard_section {
        margin: 20px 40px;
        text-align: center;
    }

    .arrow_btn_section {
        flex-direction: column;
    }
}


/* our stories section css  */
.stories_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 140px;
}

.stories {

    background: url('assets/bg.png'), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.left_card {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sub_position {
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    padding: 23px;
    font-size: 15.34px;
    font-weight: 500;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-110%, +55%);
    position: absolute;
    opacity: 2;
}

.left_card_here {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    position: relative;
    gap: 2rem;
}

.left_card_here img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    flex: 1;
}

.stories_heading {
    margin: 60px 0px;
}

.standard_icon {
    flex: 1;
}

.des_standard {
    flex: 1;
}

.stories_body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.left_card_heading {
    font-size: 24px;
    font-weight: 700;
}


.left_des {
    font-size: 15.34px;
    font-weight: 500;
}

.left_card_des {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 5.8rem;
}

.right_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-content: center;
    overflow: hidden;
}

.right_card img {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: auto;
}

.right_card_here {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.show_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_card_heading {
    font-size: 15.34px;
    font-weight: 700;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right_card_des {
    flex: 1;
    position: relative;
}

.right_sub_position {
    position: absolute;
    color: white;
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    padding: 16px 23px;
    translate: -0% -50%;

}

.right_sub_position1 {
    background: rgb(93, 88, 240);
}

/* responsive here  */
@media screen and (max-width: 768px) {
    .left_card_here {
        display: none;
    }

    .right_sub_position {
        position: absolute;
        padding: 10px 16px;
        translate: +10% -50%;
    }

    .stories_section {
        margin: 0px 20px;
        justify-content: center;
    }

    .sub_position {
        display: none;
    }
}

.show_btn {
    padding: 40px 0px;
}

/* footer section style start here  */
footer {
    background: rgb(1, 172, 253);
    padding: 123px 0px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 140px;
    align-items: start;
    justify-content: space-between;
    gap: 32px;
}

.footer_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_icons img {
    width: 80px;
    height: 80px;
}

.section_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.section_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer_menu a {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.section_3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section_1_icons_des {
    font-size: 42.14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.section_1_des {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
}

.section_2_heading {
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.keep {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
}

.social_icon {
    display: flex;
    gap: 10px;
}

.section_3 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* responsive here  */
@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
        overflow: hidden;
    }

    .section_2 {
        align-items: start;
    }
}